<!doctype html>
<html lang="en">
<head>
<!-- https://www.createwithdata.com/chartjs-and-csv/ -->

<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.7.0/dist/chartjs-plugin-datalabels.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" type="text/javascript"></script>

<title>Bar Chart - Descending Bars</title>

<style>
    .main-container {
        padding: 35px 30px;
    }
    .chart-container {
        padding: 0 0 4em 0;
        width: 100%;
        height: 200px;
    }
</style>
</head>

<body>

<div class="main-container">
    <h2>Descending Bar Chart</h2>
    <div class="chart-container">
        <canvas id="desc-bar-chart"></canvas>
    </div>
</div>

<script>

/*
var TITLE = 'Distribution of Weight vs. Price for Osprey Packs';

var POINT_X = 'price';      // column name for x values in data.csv
var POINT_X_PREFIX = '$';   // prefix for x values, eg '$'
var POINT_X_POSTFIX = '';   // postfix for x values, eg '%'

var POINT_Y = 'grades';     // column name for y values in data.csv
var POINT_Y_PREFIX = '';    // prefix for x values, eg 'USD '
var POINT_Y_POSTFIX = 'oz';   // postfix for x values, eg ' kg'

var POINT_NAME = 'district';    // point names that appear in tooltip
var POINT_COLOR = '#A9A9A9';    // eg `black` or `rgba(10,100,44,0.8)`
var POINT_RADIUS = 2;           // radius of each data point

var X_AXIS = 'Price';       // x-axis label, label in tooltip
var Y_AXIS = 'Weight (oz)';      // y-axis label, label in tooltip

var MOBILE_POINT_RADIUS = 3;    // radius of each data point
var SHOW_GRID = 'true';
*/

const context = document.getElementById('desc-bar-chart').getContext("2d");
const chart = new Chart(context, {
    type: 'bar-chart-horizontal',
    data: {
        datasets: [{
            label: 'Pack Weight vs. Price',
            data: [
                44, 50.7, 
                { x: 140, y: 44, name: "Osprey Men's Stratos 24 Pack" },
                { x: 170, y: 50.7, name: "Osprey Men's Stratos 36 Pack (S/M)" },
            ],
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        title: {
            display: true,
            text: TITLE,
            fontSize: 14,
        },
        legend: {
            display: false,
        },
        scales: {
            xAxes: [{
                scaleLabel: {
                    display: false,
                },
                gridLines: {
                    display: SHOW_GRID,
                },
                ticks: {
                    callback: function(value, index, values) {
                        return POINT_X_PREFIX + value.toLocaleString() + POINT_X_POSTFIX;
                    }
                },
            }],
            yAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: Y_AXIS,
                    fontSize: 16,
                },
                gridLines: {
                    display: SHOW_GRID,
                },
                ticks: {
                    stepSize: 10,
                    callback: function(value, index, values) {
                        return POINT_Y_PREFIX + value.toLocaleString();
                    }
                }
            }],
        },
        tooltips: {
            displayColors: false,
            callbacks: {
                title: function(tooltipItem, all) {
                    return [
                        all.datasets[tooltipItem[0].datasetIndex].data[tooltipItem[0].index].name,
                    ]
                },
                label: function(tooltipItem, all) {
                    return [
                        X_AXIS + ': ' + POINT_X_PREFIX + tooltipItem.xLabel.toLocaleString() + POINT_X_POSTFIX,
                        Y_AXIS + ': ' + POINT_Y_PREFIX + tooltipItem.yLabel.toLocaleString() + ' ' + POINT_Y_POSTFIX
                    ]
                }
            }
        },
        plugins: {
            datalabels: {
                display: false
            },
        },
    },
});

</script>
</body>

